.menucont{
    position: absolute;
    width: 68.3%;
    height: 125%;
    left: 7.53%;
    top: 115%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linhacard{
    position: relative;
    width: 100%;
    height: 45.29%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
